body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #164c66;
  background-image: url(home-bg-new.jpg);
  background-repeat: no-repeat;
  background-size: initial;
  background-attachment: fixed;
  background-position: center;
}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "button"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "button"]:hover{
  background: #2ecc71;
}
.m_title:first-letter {
  text-transform: uppercase;
}
.kroko_footer{
  
  height: 44px;
  width: 100%;
  bottom: 5px;
  right: 10px;
  position: absolute;
  background-image: url(https://www.kroko-cosmetics.com/assets/img/logotran+.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  
}
footer.sticky-footer {
    padding: 1rem 0!important;
}