{if !isset($title) }
{$title="lnwPHP"}
{/if}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>{$title}</title>
	<link rel="stylesheet" href="{$BASE_COMPONENT}css/lnwphp.css">
</head>
<body>
<form class="box" action="index.html" method="post" autocomplete="off">
		<h1>404</h1>
	</form>
	

</body>
</html>
